* {
  box-sizing:border-box;
  scroll-behavior: smooth;
}
body {
  background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid white;
} ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
} h1 {
  color: #A17AAD;
} li {
  color: white;
  text-decoration: none;
  margin: auto 10%;
  font-size: 20px;
} a {
  text-decoration: none;
  color: white;
} #topBtn {
  background: none;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: white;
} form {
  margin: auto 3%;
}
main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 7% 5% 2% 5%;
} .astroBox {
  height: 30vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 4px 4px 10px 2px black;
  animation: fadeIn ease 2s, slideUp ease 2s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5%;
} #loadMore {
  display: none;
  margin: auto 30% 5% 30%;
  background-color:#A17AAD;
  border-radius: 10%;
  padding: 1%;
  color: white;
  font-size: 20px;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes slideUp {
  0% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}
