* {
  box-sizing:border-box;
  font-family: sans-serif;
} html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid white;
  z-index: 2;
  text-align: center;
} nav {
  width: content;
} ul {
  display: flex;
  list-style: none;
  justify-content: center;
} h1 {
  color: #A17AAD;
  margin: 2% auto;
} li {
  color: white;
  text-decoration: none;
  margin: auto 5%;
  font-size: 15px;
} a {
  text-decoration: none;
  color: white;
} #topBtn {
  background: none;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: white;
} form {
  margin: auto 1%;
}
main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 7% 5% 2% 5%;
} .astroBox {
  height: 30vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 4px 4px 10px 2px black;
  animation: fadeIn ease 2s, slideUp ease 2s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5%;
} .astroBox:hover {
  cursor: pointer;
} #loadMore {
  display: none;
  margin: auto 30% 5% 30%;
  background-color:#A17AAD;
  border-radius: 10%;
  padding: 1%;
  color: white;
  font-size: 20px;
} #modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  animation: fadeIn ease 1s;
  background-color: rgba(0,0,0,.4);
  z-index: 3;
  overflow-y: scroll;
} .modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #8850A0;
  border: 4px solid #1b2735;
  padding: 0 3%;
  max-width: 40%;
  top: 0;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5%;
  animation: slideDown ease 1s;
  color: white;
} .modalHeader {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
  width: 100%;
} .modalHeader span {
  font-size: 35px;
  margin: auto 0;
} .modalHeader span:hover {
  cursor: pointer;
} .modalContent img {
  max-width: 80%;
  height: auto;
  border-radius: 5%;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes slideUp {
  0% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}
@keyframes slideDown {
  from {top: -100px;}
  to {}
}
@media screen and (max-width: 1300px){
  nav {
    display: none;
  } form {
    display: none;
  } main {
    grid-template-columns: repeat(3,1fr);
    grid-gap: none;
  } .modalContent {
    max-width: 80%;
  }
} @media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
  } .astroBox {
    height: 40vh;
    width: 40vw;
  }
} @media screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(1,1fr)
  } .astroBox {
    height: 50vh;
    width: 80vw;
  }
}
